# PostgreSQL connection string
DATABASE_URL="postgresql://postgres:password@localhost:5432/crm?schema=public"

# JWT
JWT_SECRET="7f3c9a1e8d4b6f20c5a7e9d2b1f8c4a6e3d7b9f2c5a8e1d4f6b3c9a7e2d5f8"
JWT_EXPIRES_IN="2d"

# Server
PORT=5000
CLIENT_ORIGIN="http://localhost:5173"
